@import '../../../../../customStyles/colors';

.headerTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $fbn-text;
}
.buttons{
    color: $fbn-blue;
    font-weight: 500;
    font-size: 16px;
}
.headerBtn{
    background-color: $fbn-gold;
    border-radius: 8px;
    padding: 8px 1rem;
    margin: 5px;
}